body,
html {
    margin: 0;
    background-color: #2f4f30;
    color: white;
}

.botones {
    padding-top: 25px;
}

.titulo {
    text-align: center;
    background-color: black;
    color: wheat;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 120px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
    height: 180px;
}